body {
    background-color: #ffffff
}

header {
    text-align: center;
}

section {
    background-color: rgb(182, 182, 182);
    width: 500px;
    margin: 10px auto;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    color: white;
}

footer {
    text-align: center;
}

img {
    width: 400px;
    border-radius: 100px;
    margin: 15px auto;
}

#saudacao {
    font: bold;
}